---
import BaseLayout from '../layouts/BaseLayout.astro';
import "../styles/global.css";
const allIdeas = Object.values(import.meta.glob('./posts/*.md', {eager: true}));
const pageTitle = 'Ideas';

---

<BaseLayout pageTitle = {pageTitle}>
  <h2>Ideas I got</h2>
</BaseLayout>