---
import Navigation from '../components/Navigation.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import "../styles/global.css";

const pageTitle = "Home Page";


---

<BaseLayout pageTitle = {pageTitle}>
  <h2>Home to all my projects</h2>
</BaseLayout>