---
const pageTitle = 'Who are we?'
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    
    <h1>{pageTitle}</h1>
    <p>Nobody in particular.</p>

  </body>
</html>
