---
import Navigation from '../components/Navigation.astro';
import "../styles/global.css";
const pageTitle = 'Who are we';

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>  
      <nav>
        <Navigation />
      </nav>
    </header>
    
    <h1>{pageTitle}</h1>
    <p>Nobody in particular.</p>

  </body>
</html>
