---
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/projects/">Projects</a>
    <a href="/ideas/">Ideas</a>
    <a href="/whoarewe/">Who are we</a>

    <h1>Murder, he prompted</h1>
    <p>Chief Prompter Aguardento fighting crime. One prompt at a time.</p>
    <ul>
      <li><a href="/cases/00001/">Case #00001</a></li>
    </ul>
  </body>
</html>