---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <article class="prose">
        <div class="frontmatter">
            <h1>{frontmatter.title}</h1>
            <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
            {frontmatter.description && <p><em>{frontmatter.description}</em></p>}
            {frontmatter.author && <p>Written by {frontmatter.author}</p>}
        </div>
        <slot />
    </article>
</BaseLayout>